{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block jumbotron %}<h1>Simple editing records</h1>{% endblock %}
{% block content %}
<a style="margin-bottom: 30px;" href="/records/{{ book_id }}" class="btn btn-primary " type="button"><span class='bi bi-arrow-left'>Privous page</span></a>
<dev id="change">
  <form id="contact-form" method="POST" action="/detailrecord/{{book_id}}/{{record.id}}">
      <table class="table table-striped">
          <thead>
          <tr>
              <th>Name</th>
              <th>Birthday</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Address</th>
          </tr>
          </thead>
          <tbody>
                  <tr id="for_new_input">
                      <th id="rec_name_table" style="width: 250px">{{record.name}}</th>
                      <th id="rec_brth_table" style="width: 80px">{{birthday}}</th>
                      {% for phone in record.phones %} 
                      <th id="rec_phn_table" style="width: 100px">{{phone.name}}</th>
                      {% endfor %}
                      {% for email in record.emails %} 
                      <th id="rec_eml_table" style="width: 200px">{{email.name}}</th>
                      {% endfor %}
                      {% for address in record.addresses %}
                      <th id="rec_addr_table" style="width: 250px">{{address.name}}</th>
                      {% endfor %}
                  </tr>
          </tbody>
      </table>
      <a style="margin-bottom: 30px;" href="/change-record/{{ book_id }}/{{record_id }}" class="btn btn-primary " type="button">Edit</span></a>
    </form>
  </dev> 
{% endblock %}