{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block jumbotron %}<h1>Just download</h1>{% endblock %}
{% block content %}
  <head>
    <title>File Download</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <div class="row">
    {% for type in ["images", "documents", "others", "all"] %}
        {% if type==doc_type%}
        <a href="/localsort/{{type}}" class="btn btn-primary active" role="button">
            {{type}}
        </a>
        {% else%}
    <!-- <div class="col-lg-6" align="left"> -->
        <a href="/localsort/{{type}}" class="btn btn-primary" role="button">
            {{type}}
        </a>
        {% endif%}
    {% endfor %}
  
    </div>



  <table class="table table-striped">
        <thead>
        <tr>
                <th>Name</th>
        </tr>
        </thead>
        <tbody>
            {% for file_name in file_names %}
            <tr>
                    <th><a href="/downloaded/{{ file_name.file_name }}" class="btn btn-primary" role="button">{{file_name.file_name}}</a></th>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}