{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block jumbotron %}<h1>Just upload</h1>{% endblock %}
{% block content %}
  <head>
    <title>File Download</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <div class="row">
  <!-- <div class="col-lg-6" align="left"> -->
    <a href="/localsort/images" class="btn btn-primary" role="button">
        Images
    </a>
    <!-- <div class="col-lg-6" align="left"> -->
        <a href="/localsort/documents" class="btn btn-primary" role="button">
            Documents
        </a>
        <!-- <div class="col-lg-6" align="left"> -->
            <a href="/localsort/others" class="btn btn-primary" role="button">
                Other
            </a>
    <!-- <div class="col-lg-6" align="left"> -->
        <a href="/localsort/all" class="btn btn-primary" role="button">
            All
        </a>
    </div>

        <h5 class="card-title"> <b>{{ doc_type }}</b></h5>


  <table class="table table-striped">
        <thead>
        <tr>
                <th>Name</th>
        </tr>
        </thead>
        <tbody>
            {% for file_name in file_names %}
            <tr>
                    <th><a href="/downloaded/{{ file_name.file_name }}" class="btn btn-primary" role="button">{{file_name.file_name}}</a></th>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}