<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/note/" role="button">Add note</a></li>
          <li><a href="/tag/" role="button">Add Tag</a></li>
          <li><a href="/addressbooks" role="button">Switch to addressbooks</a></li>
          <li><a href="/news" role="button">News</a></li>
        </ul>
        <form method="POST" action="note/result">
          <input type="search" name="key" placeholder="type something" required>
          <button type="submit">Search</button>
        </form>
        <form method="POST">
          <select name="tag_ch" id="tag_ch" >
            <option disabled selected value> --All tegs-- </option>
            <!-- <option> --All tegs-- </option> -->
            {% for tag in tags %}
                <option value={{tag.id}}>{{tag.name}}</option>
            {% endfor %}
          </select>
          <button style="width: 300px; margin-bottom: 20px; padding-left: 10px" type="submit">
            Submit
          </button>
        </form>
      </nav>

      {% for note in notes %}
      <ul>
        <li>
          {%if not note.done%}
          <a href="/detail/{{note.id}}" role="button" class="outline"
            >{{note.name}}</a
          >
          <a href="/done/{{note.id}}" role="button">Mark Done</a>
          <a href="/delete/{{note.id}}" role="button" class="contrast"
            >Delete note</a
          >
          {% else %}

          <a href="/detail/{{note.id}}" role="button" class="secondary"
            ><s>{{note.name}}</s></a
          >
          <a href="/delete/{{note.id}}" role="button" class="contrast"
            >Delete note</a
          >
          {% endif %}
        </li>
      </ul>
      {% endfor %}
    </main>
  </body>
</html>