{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block jumbotron %}<h1>Welcome to assistant</h1>{% endblock %}
{% block content %}
    <div class="jumbotron">
<!-- <h1>Welcome to Personal helper</h1> -->
      <p style="font-size: 30px"class="lead">Would you like to upload files to storage?</p>
      <form>
        <div align="center" class="form-group">
          <!-- <label style="font-size:30px; color: blue" for="exampleFormControlFile1">Uload file</label> -->
          <input type="file" class="form-control-lg" id="upload_file">
        </div>
      </form>
    </div>
    <div class="row">
        <div class="col-lg-6">
          <h2>Some news!</h2>
          <p class="text-danger">have a look on some importent news</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-6">
          <h2>Some second news!</h2>
          <p class="text-danger">have a look on some importent news</p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
{% endblock %}
