<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/" role="button">Main Menu</a></li>
        </ul>
      </nav>
      {% for article in news%}
      <blockquote>
        <b> {{article.name}}</b>
        <br> {{article.description}}

        <footer>
          <cite>by {{article.author}},  {{article.source}}</cite>
        </footer>
      </blockquote>
      {% endfor %}
    </main>
  </body>
</html>