<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav
        style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"
      >
        <ul>
          <li><a href="/note/" role="button">Add note</a></li>
          <li><a href="/tag/" role="button">Add Tag</a></li>
          <li><a href="/addressbooks" role="button">Switch to addressbooks</a></li>
          <li><a href="/" role="button">Main Menu</a></li>
        </ul>
      </nav>
      <blockquote>
        "Maecenas vehicula metus tellus, vitae congue turpis hendrerit non. 
        Nam at dui sit amet ipsum cursus ornare."
        <footer>
          <cite>- Phasellus eget lacinia</cite>
        </footer>
      </blockquote>
      <blockquote>
        "Maecenas vehicula metus tellus, vitae congue turpis hendrerit non. 
        Nam at dui sit amet ipsum cursus ornare."
        <footer>
          <cite>- Phasellus eget lacinia</cite>
        </footer>
      </blockquote>
      <blockquote>
        "Maecenas vehicula metus tellus, vitae congue turpis hendrerit non. 
        Nam at dui sit amet ipsum cursus ornare."
        <footer>
          <cite>- Phasellus eget lacinia</cite>
        </footer>
      </blockquote>
 

    </main>
  </body>
</html>