

{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block jumbotron %}<h1>Just add new addressbook</h1>{% endblock %}
{% block content %}
    <a style="margin-bottom: 30px;" href="/notebook" class="btn btn-primary " type="button"><span class='bi bi-arrow-left'>Privous page</span></a>
    <form method="POST" action="/note">
      <div class="mb-3">
        <label for="name" class="form-label" style="font-size: 24px">Note name:</label>
        <input id="name" class="form-control form-control-lg" type="text" name="name" required placeholder="Enter note name"/>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label" style="font-size: 24px">Note description:</label>
        <input id="description" class="form-control form-control-lg" type="text" name="description" required placeholder="Enter description"/>
      </div>

      <div class="mb-3">
        <label for="tags" style="font-size: 24px" class="form-label">Select tags:</label>
        <!-- <select id="tags" name="tags" class="form-select" multiple aria-label="multiple select tags" required>
        <select class="form-select"></select> -->
        <p><select class="form-select" style="width: 400px;" name="tags" id="tags" multiple multiple aria-label="multiple select tags">
          <option disabled selected value> --All tags-- </option>
          {% for tag in tags %}
              <option value={{tag.id}}>{{tag.name}}</option>
          {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-primary"><span class="bi bi-check-circle"></span>Submit</button>
      <button type="reset" class="btn btn-danger"><span class="bi bi-x-circle"></span>Reset</button>
    </form>
{% endblock %}