{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block jumbotron %}<h1>Just add new notes</h1>{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6" >
            <a href="/note/" class="btn btn-primary" role="button">
                <span class="bi bi-plus-circle"></span>
                Add new note
            </a>
            <a href="/tag/" class="btn btn-primary" role="button">
                <span class="bi bi-plus-circle"></span>
                Add tags
            </a>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-6" align="right">
                <form method="POST">
                    <select style="width: 100px;" name="tag_ch" id="tag_ch" >
                        <option disabled selected value> --All tags-- </option>
                        {% for tag in tags %}
                            <option value={{tag.id}}>{{tag.name}}</option>
                        {% endfor %}
                    </select>
                    <button style="margin-bottom: 20px; padding-left: 10px" type="submit">
                        Submit
                    </button>
                    <!-- <button type="reset" class="btn btn-danger"><span class="bi bi-x-circle"></span>Reset</button> -->
                </form>
            </div>
            <div class="col-lg-6" align="right">
                <form method="POST" action="note/result">
                    <input type="search" name="key" placeholder="Search" required>
                    <button type="submit"><span class="bi bi-search"></span> Search</button>
                </form>
            </div>
        </div>
    </div>
    <h6 align="right" style="margin-top:0px;">Use "Done" for searching to filter completed notes</h6>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <!-- <th>Status</th> -->
            <!-- <th>Desription</th> -->
            <th>Tags</th>
            <th>Created date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    {%if not note.done%}
                    <th style="width: 250px">{{note.name}}</th>
                    <th style="width: 250px">{{ note.tags|join(', ', attribute='name') }}</th>
                    <th><kbd>{{note.created.date()}}</kbd></th>
                    <th style="width: 350px">
                        <a href="/detail/{{note.id}}" class="btn btn-primary" role="button"><span class="bi bi-search"></span>Details</a>
                        <a href="/done/{{note.id}}" class="btn btn-success" role="button"><span class="bi bi-check-circle"></span>Done</a>
                        <a href="/delete/{{note.id}}" class="btn btn-danger" role="button" ><span class="bi bi-trash"></span>Delete</a>
                    </th>
                    {% else %}
                    <th><a href="/detail/{{note.id}}" class="btn btn-success" role="button"><s>{{note.name}}</s></a></th>
                    <th><s>{{ note.tags|join(', ', attribute='name') }}</s></th>
                    <th><kbd><s>{{note.created.date()}}</s></kbd></th>
                    <th><a href="/delete/{{note.id}}" class="btn btn-danger" role="button" ><span class="bi bi-trash">Delete</a></th>
                    {% endif %} 
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}