{% extends "base.html" %}
{% block title %}Index{% endblock %}
  <!-- {% block head %}
      {{ super() }}
  {% endblock %} -->
{% block jumbotron %}<h1>Just fill in the form</h1>{% endblock %}
{% block content %}
<head>
  <title> Registration </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
</head>
<div class="form-outline mb-4 col-lg-offset-3" style="padding: 10px;"> 
   <a href="/login" class="btn btn-primary" role="button">
    Back to login
</a>
</div>
    <form method="POST" action="/registration">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      
      <span style="color: green;">{{ message }}</span>
      {% endfor%}
      {% endif %}
      {% endwith %}
      {{ form.hidden_tag() }}

      <!-- Grid -->
      <!-- <div class="grid"> -->
        <div class="border-primary mb-3 col-lg-10 col-lg-offset-3" style="padding: 20px;">
        <div class="form-outline mb-4" style="padding-bottom:10px;">

          {% if not form.username.errors %}
            {{ form.username.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label ") }}
            {{ form.username() }}
        {% else %}
            {{ form.username.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label") }}
            {{ form.username(style="border: 2px solid red")}}
        
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% endif %}
      </div>
      <div class="form-outline mb-4" style="padding-bottom:10px;">
          {% if not form.email.errors %}
            {{ form.email.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label") }}
            {{ form.email }}
          {% else %}
            {{ form.email.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label ") }}
            {{ form.email(style="border: 2px solid red")}}
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        {% endif %}
        </div>
        <div class="form-outline mb-4" style="padding-bottom:10px;">

        {% if not form.password.errors %}
            {{ form.password.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label ") }}
            {{ form.password }}
        {% else %}
            {{ form.password.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label ") }}
            {{ form.password(style="border: 2px solid red")}}
        
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% endif %}
          </div>
      <div class="form-outline mb-4" style="padding-bottom:10px;">
      {% if not form.confirm_password.errors %}
            {{ form.confirm_password.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label ") }}
            {{ form.confirm_password }}
        {% else %}
            {{ form.confirm_password.label(for="colFormLabel", class="col-sm-2 col-form-label col-form-label ") }}
            {{ form.confirm_password(style="border: 2px solid red")}}
        
            {% for error in form.confirm_password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% endif %}

      </div>
      <div class="form-outline mb-4"> 
        <p>{{ form.submit(type="submit", class="btn btn-primary") }} </p>
        </div>

      </div>
    </form>
{% endblock %}