{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block jumbotron %}<h1>Just select your folder</h1>{% endblock %}
{% block content %}
  <head>
    <title>File sort </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <body>
    <h1>File sort</h1>
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
  </div>
  <div class="{{ messages[0][0] }}" role="alert">
    {{ messages[0][1] }}
  </div>
  
    {% endif %}
    {% endwith %}
    <div class="col-lg-8" align="left">
    <form method="POST" action="">
        <label
            >Full folder path:
            <input type="text" name="folder_path" required />
          </label>
          <div class="grid">
            <button type="submit">Submit</button>
          </div>
        
      </form>
    </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
  </body>
{% endblock %}