{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block jumbotron %}<h1>Congratulations!!!</h1>{% endblock %}
{% block content %}
  <head>
    <title> Success </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>

      <div class="card">
        <div class="card-body">
          {% with messages = get_flashed_messages() %}
           {% if messages %}
            {% for message in messages %}
          <h2 class="card-title" style="color: green;">{{ message}}</h2>
          {% endfor%}
          {% endif %}
          {% endwith %}
          <a href="/login" class="btn btn-primary">Login</a>
        </div>
      </div>

{% endblock %}